<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrace na letní dětský tábor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>
<div class="container">
    <form class="formular" th:action="@{/}" method="post">
        <h1>Registrační formulář</h1>
        <label for="jmeno" class="radek">Křestní jméno:</label>
        <input id="jmeno" type="text" th:field="${form.jmeno}" required/>
        <div class="error" th:if="${#fields.hasErrors('form.jmeno')}" th:errors="${form.jmeno}"></div>

        <label for="prijmeni" class="radek">Příjmení:</label>
        <input id="prijmeni" type="text" th:field="${form.prijmeni}" required/>
        <div class="error" th:if="${#fields.hasErrors('form.prijmeni')}" th:errors="${form.prijmeni}"></div>

        <label for="datumNarozeni" class="radek">Datum narození:</label>
        <input id="datumNarozeni" type="date" th:field="${form.datumNarozeni}" required/>
        <div class="error" th:if="${#fields.hasErrors('form.datumNarozeni')}" th:errors="${form.datumNarozeni}"></div>

        <div class="radek">Pohlaví:</div>
        <div class="pohlavi">
            <div>
                <input type="radio" th:field="${form.pohlavi}" value="DIVKA"/>
                <label th:for="${#ids.prev('pohlavi')}">Dívka</label>
            </div>
            <div>
                <input type="radio" th:field="${form.pohlavi}" value="CHLAPEC"/>
                <label th:for="${#ids.prev('pohlavi')}">Chlapec</label>
            </div>
        </div>
        <div class="error" th:if="${#fields.hasErrors('form.pohlavi')}" th:errors="${form.pohlavi}"></div>

        <div class="radek">Sport:</div>
        <div>
            <input type="checkbox" th:field="${form.sport}" value="BEH"/>
            <label th:for="${#ids.prev('sport')}">Běh</label>
        </div>
        <div>
            <input type="checkbox" th:field="${form.sport}" value="JOGA"/>
            <label th:for="${#ids.prev('sport')}">Joga</label>
        </div>
        <div>
            <input type="checkbox" th:field="${form.sport}" value="BALET"/>
            <label th:for="${#ids.prev('sport')}">Balet</label>
        </div>
        <div>
            <input type="checkbox" th:field="${form.sport}" value="PLAVANI"/>
            <label th:for="${#ids.prev('sport')}">Plavani</label>
        </div>
        <div>
            <input type="checkbox" th:field="${form.sport}" value="SACHY"/>
            <label th:for="${#ids.prev('sport')}">Šachy</label>
        </div>
        <div class="error" th:if="${#fields.hasErrors('form.sport')}" th:errors="${form.sport}"></div>

        <label for="turnus" class="radek">Turnus:</label>
        <select id="turnus" th:field="${form.turnus}" required>
            <option value=""></option>
            <option value="1">5. až 11. července</option>
            <option value="2">12. až 18. července</option>
            <option value="3">19. až 25. července</option>
        </select>
        <div class="error" th:if="${#fields.hasErrors('form.turnus')}" th:errors="${form.turnus}"></div>

        <label for="email" class="radek">E-mail:</label>
        <input id="email" type="email" th:field="${form.email}"/>
        <div class="error" th:if="${#fields.hasErrors('form.email')}" th:errors="${form.email}"></div>

        <label for="telefon" class="radek">Telefon:</label>
        <input id="telefon" type="telefon" th:field="${form.telefon}"/>
        <div class="error" th:if="${#fields.hasErrors('form.telefon')}" th:errors="${form.telefon}"></div>

        <div>
            <button type="submit" class="btn btn-primary">Registrovat</button>
        </div>
    </form>
</div>
</body>
</html>
